.container {
	align-items: center;
	margin-top: 75;
	padding: 10;
}

.card {

}

.buttonText {
	align-self: center;
	color: white;
	font-family: Helvetica-Light;
	font-size: 15;
}

.button {
	align-self: stretch;
	background-color: #48BBEC;
	border-color: #48BBEC;
	border-width: 1;
	border-radius: 18;
	flex: 1;
	flex-direction: row;
	height: 36;
	justify-content: center;
	margin-bottom: 10;
}

.checkbox {

}

.form {

}

.icon {

}

.input {
	border-width: 1;
	border-color: #48BBEC;
	border-radius: 10;
	color: #48BBEC;
	flex: 4;
	font-family: HelveticaNeue;
	font-size: 15;
	height: 36;
	margin-right: 5;
	padding:10;
}

.listContainer {

}

.listItem {

}

.sidemenu {

}

.text {

}

