.container {
	margin-top: 65px; // TODO: navigation bar height
}

.card {

}

.button {
	@include button(#48BBEC, #48BBEC);

	&-icon {
		color: white;
		padding-right: 5px;
	}

	&-label {
		align-self: center;
		color: white;
		font-family: Helvetica-Light;
		font-size: 15px;
	}
}

.checkbox {

}

.form {

}

.icon {
	color: white;
}

.input {
	background-color: white;
	border-width: 1px;
	border-color: #efefef;
	border-radius: 10px;
	color: #48BBEC;
	flex: 4;
	font-family: HelveticaNeue;
	font-size: 15px;
	height: 36px;
	margin-right: 5px;
	padding:10px;
}

.label {
	color: #000000;
	font-family: Helvetica-Light;
	font-size: 15px;
}

.listContainer {

}

.listItem {

}

.row {
	align-items: center;
	align-self: stretch;
	flex-direction: row;
	padding-bottom: 10px;
}

.sidemenu {

}

.text {

}

