.container {
	align-items: center;
	margin-top: 75px;
	padding: 10px;
}

.card {

}

.button {
	align-self: stretch;
	align-items: center;
	background-color: #48BBEC;
	border-color: #48BBEC;
	border-width: 1px;
	border-radius: 18px;
	flex: 1;
	flex-direction: row;
	height: 36px;
	justify-content: center;
	margin-bottom: 10px;

	&-icon {
		color: white;
		padding-right: 5px;
	}

	&-label {
		align-self: center;
		color: white;
		font-family: Helvetica-Light;
		font-size: 15px;
	}
}

.checkbox {

}

.form {

}

.icon {
	color: white;
}

.input {
	border-width: 1px;
	border-color: #48BBEC;
	border-radius: 10px;
	color: #48BBEC;
	flex: 4;
	font-family: HelveticaNeue;
	font-size: 15px;
	height: 36px;
	margin-right: 5px;
	padding:10px;
}

.label {
	color: #000000;
	font-family: Helvetica-Light;
	font-size: 15px;
}

.listContainer {

}

.listItem {

}

.sidemenu {

}

.text {

}

