@mixin button($background-color, $border-color) {
	align-self: stretch;
	align-items: center;
	background-color: $background-color;
	border-color: $border-color;
	border-width: 1px;
	border-radius: 18px;
	flex: 1;
	flex-direction: row;
	height: 36px;
	justify-content: center;
}